RadiusR.API.AddressQueryAdapter/Service References/AddressQueryServiceReference/AddressQueryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://nsadres.netspeed.com.tr/AddressQueryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" />
  <xs:element name="GetSeed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="GetSeedResult" nillable="true" type="q1:AddressQueryResultsOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinces">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="request" nillable="true" type="q2:AddressQueryRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvincesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="GetProvincesResult" nillable="true" type="q3:AddressQueryResultsOfArrayOfKeyValuePairOOn8viJD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceDistricts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="request" nillable="true" type="q4:AddressQueryRequestOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProvinceDistrictsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="GetProvinceDistrictsResult" nillable="true" type="q5:AddressQueryResultsOfArrayOfKeyValuePairOOn8viJD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictRuralRegions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="request" nillable="true" type="q6:AddressQueryRequestOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDistrictRuralRegionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="GetDistrictRuralRegionsResult" nillable="true" type="q7:AddressQueryResultsOfArrayOfKeyValuePairOOn8viJD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuralRegionNeighbourhoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="request" nillable="true" type="q8:AddressQueryRequestOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRuralRegionNeighbourhoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="GetRuralRegionNeighbourhoodsResult" nillable="true" type="q9:AddressQueryResultsOfArrayOfKeyValuePairOOn8viJD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeighbourhoodStreets">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="request" nillable="true" type="q10:AddressQueryRequestOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNeighbourhoodStreetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="GetNeighbourhoodStreetsResult" nillable="true" type="q11:AddressQueryResultsOfArrayOfKeyValuePairOOn8viJD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetBuildings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="request" nillable="true" type="q12:AddressQueryRequestOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetBuildingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="GetStreetBuildingsResult" nillable="true" type="q13:AddressQueryResultsOfArrayOfKeyValuePairOOn8viJD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingApartments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="request" nillable="true" type="q14:AddressQueryRequestOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBuildingApartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="GetBuildingApartmentsResult" nillable="true" type="q15:AddressQueryResultsOfArrayOfKeyValuePairOOn8viJD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartmentAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="request" nillable="true" type="q16:AddressQueryRequestOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetApartmentAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/RadiusRAddressQuery" minOccurs="0" name="GetApartmentAddressResult" nillable="true" type="q17:AddressQueryResultsOfAddressDetailsOOn8viJD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>